---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const postPath = `/posts/${post.slug.current}`;
---

<article>
  {
    post.mainImage ? (
      <figure>
        <img
          src={urlFor(post.mainImage).width(500).height(300).url()}
          alt={post.mainImage.alt || ""}
        />
      </figure>
    ) : null
  }
  <header>
    <h3>
      <a href={postPath}>
        {post.title}
      </a>
    </h3>
  </header>
  {post.excerpt ? <p>{post.excerpt}</p> : null}
  <p>
    <time datetime={post.publishedAt || post._createdAt}>
      {formatDate(post.publishedAt || post._createdAt)}
    </time>
  </p>
</article>
