---
import { PortableText } from "astro-portabletext";
import Breadcrumb from "./Breadcrumb.astro";
import PortableTextImage from "./PortableTextImage.astro";
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
  parentHref?: string;
  parentLabel?: string;
}

const { post, parentHref, parentLabel } = Astro.props;

const portableTextComponents = { type: { image: PortableTextImage } };
const resolvedTitle = post.title ?? "---";
---

<article class="space-y-6">
  <header class="space-y-2">
    <h1>{resolvedTitle}</h1>
    <Breadcrumb
      currentLabel={resolvedTitle}
      parentHref={parentHref}
      parentLabel={parentLabel}
    />
    {post.excerpt ? <p>{post.excerpt}</p> : null}
    <p>
      <time datetime={post.publishedAt || post._createdAt}>
        {formatDate(post.publishedAt || post._createdAt)}
      </time>
    </p>
  </header>
  {
    post.mainImage ? (
      <figure>
        <img
          class="mx-auto max-h-[480px] w-auto"
          src={urlFor(post.mainImage).url()}
          alt={post.mainImage?.alt ?? "---"}
        />
      </figure>
    ) : null
  }
  <section class="prose-content">
    <PortableText value={post.body} components={portableTextComponents} />
  </section>
</article>
